@font-face {
	font-family: Monaco;
	src: url(src/font/monaco.ttf);
}

body {
	position:relative;
	display: flex;
	flex-direction: column;
	padding: 0;
	border: 0;
	margin: 0;
	font-family: Monaco, vortice-concept, sans-serif;
	height: 100vh;
	width: 100vw;
	background-color: #000000;
	justify-content: center;
	align-items: center;
}
body::-webkit-scrollbar {
    display: none;
}
.desktop {
	position: absolute;
	height: 66.6666667vw;
	width: 93.75vw;
	overflow: hidden;
	background-color: #ffffff;
}
.toptitle {
	position:absolute;
	width: 46.81vw;
	height: 4.42563vw;
	top: 4.689vw;
	left: 23.5vw;
	font-family: vortice-concept, sans-srif;
	font-style: normal;
	font-weight: 900;
	font-size: 4.17vw;
	text-align: center;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
.title-second {
	position:absolute;
	width: 46.81vw;
	height: 3.12522vw;
	top: 9.11464vw;
	left: 23.5vw;
	font-family: Monaco;
	font-weight: 400;
	font-size: 2.34375vw;
	line-height: 3.12522vw;
	text-align: center;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
.semi-circle-box {
	position: absolute;
	width: 623.242vw;
	height: 623.242vw;
	left: -33.59375vw;
	top: -201.463vw;
}
.first-sc {
	position: absolute;
	width: 162.76vw;
	height: 81.38vw;
	border-radius: 162.76vw 162.76vw 0 0;
	left: 0vw;
	top: 230.239vw;
	background-color: #FBDA65;
	mix-blend-mode: darken;
}
.second-sc {
	position: absolute;
	width: 162.76vw;
	height: 81.38vw;
	border-radius: 162.76vw 162.76vw 0 0;
	left: 270.931vw;
	top: 40.69vw;
	background-color: #5E93D1;
	mix-blend-mode: darken;
	transform: rotate(90deg);
}
.third-sc {
	position: absolute;
	width: 162.76vw;
	height: 81.38vw;
	border-radius: 162.76vw 162.76vw 0 0;
	left: 460.482vw;
	top: 311.62vw;
	background-color: #FBDA65;
	mix-blend-mode: darken;
	transform: rotate(-180deg);
}
.fourth-sc {
	position: absolute;
	width: 162.76vw;
	height: 81.38vw;
	border-radius: 162.76vw 162.76vw 0 0;
	left: 189.551vw;
	top: 501.17225vw;
	background-color: #5E93D1;
	mix-blend-mode: darken;
	transform: rotate(-90deg);
}
.figure {
	position: absolute;
	background-image: url("src/pic/Other/Group 43.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: /*245.3125vw*/244.01vw 244.01vw;
	width: 244.01vw;
	height: 244.01vw;
	left: 39.84375vw;
	top: -88.67255vw;
	transform: rotate(0deg);
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}




.description {
	position: absolute;
	background-image: url("src/pic/Words/A_description.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 28.71vw 25.4556vw;
	position: absolute;
	width: 28.45vw;
	height: 24.935vw;
	padding: 0vw 0.26vw 0.5211vw 0vw;
	left: 10.42vw;
	top: 18.488vw;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
.description-2 {
	position: absolute;
	background-image: url("src/pic/Words/A_description-1.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 28.71vw 25.4556vw;
	position: absolute;
	width: 28.45vw;
	height: 24.935vw;
	padding: 0vw 0.26vw 0.5211vw 0vw;
	left: -79.62vw;
	top: 18.488vw;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.right-down {
	position: absolute;
	width: 29.362vw;
	height: 29.362vw;
	border-radius: 29.362vw;
	background-color: #C4C4C4;
	left: 72.917vw;
	top: 52.083245vw;
	box-shadow: -0.13028vw -0.26055vw 0.26055vw rgba(0, 0, 0, 0.25);
	cursor: pointer;
}
.right-down-2 {
	position: absolute;
	width: 29.362vw;
	height: 29.362vw;
	border-radius: 29.362vw;
	background-color: #C4C4C4;
	left: 73.242vw;
	top: 112.5vw;
	box-shadow: -0.13028vw -0.26055vw 0.26055vw rgba(0, 0, 0, 0.25);
	cursor: pointer;
}
.next {
	position: absolute;
	background-image: url("src/pic/Button/next.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 11.13vw 3.4521vw;
	width: 11.133vw;
	height: 3.4521vw;
	left: 6.641vw;
	top: 4.1016vw;
	margin: 0.293vw 0.39vw 0.293vw 0.39vw;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
.arrow {
	position: absolute;
	background-image: url("src/pic/Button/Vector 1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 3.90625vw 4.29677vw;
	width: 3.646vw;
	height: 3.9473vw;
	padding: 0.175vw 0.13vw 0.175vw 0.13vw;
	left: 10.68vw;
	top: 9.23269vw;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.startbutton {
	position:absolute;
	width: 16.927vw;
	height: 5.077954vw;
	border-radius: 3.059847vw;
	left: 38.41vw;
	top: 54.42728vw;
	background-color: #7FBC6E;
	box-shadow: 0 0.26055vw 0.26055vw rgba(0, 0, 0, 0.25);
	font-family: Monaco;
	font-style: normal;
	font-weight: 400;
	font-size: 3.125vw;
	text-align: center;
	line-height: 5.077954vw;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	cursor: pointer;

}

.copyright {
	position: absolute;
	width: 81.51vw;
	height: 0.7807vw; 
	left: 6.12vw;
	top: 64.5832vw;
	font-family: Monaco;
	font-style: normal;
	font-weight: 400;
	font-size: 0.78125vw;
	-webkit-transform:scale(0.8325);
	line-height: 0.8677vw;
	text-align: center;
	overflow:hidden;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
